/*****************/
/* Global Styles */ 
/*****************/
.footerWrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/*****************/
/* Home Page Styles */ 
/*****************/



/*****************/
/* Blog Styles */ 
/*****************/



/*****************/
/* Contact Styles */ 
/*****************/


