/*****************/
/* Global Styles */ 
/*****************/

.wrapper {
  @include wrapper ();
}

h1 {
  @include h1 (#ffffff);
}

h1, 
h2,
h3,
h4 {
  text-transform: uppercase;
}

h2 {
  color: $headerTwoColour;
  font-family: $headerFont;
  font-size: 4.5rem;
  line-height: 9.98rem;
}

p {
  color: #031f22;
  font-family: $bodyFont;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.button {
  @include buttons ();
}


a.button:hover,
a.button:focus-within {
    background-color: $backgrd2Colour;
    border: 2px solid $backgrd3Colour;
    color: $backgrd3Colour;
}

a:hover,
a:focus-within {
  border-bottom: 3px solid $backgrd3Colour;
  transition-duration: 0.3s;
}
