
/*****************/
/* Blog Styles */ 
/*****************/

.blog header .headerBackground {
  background-image: url("../BoatRideAdventures/assets/blog-header.jpg");
  width: 100%;
  background-color: royalblue;
}

.blog .headerNav a {
  @include navs ();
} 

.blog h1 {
  @include h1 (#ffffff);
}



