
/*****************/
/* Blog Styles */ 
/*****************/

.blog header {
  background-image: url("../assets/blog-header.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.blog .headerNav { 
  margin-bottom: 6rem; 
  padding-top: 6rem;
}

.blog .headerNav ul {
  display: flex;
  flex-direction: row;
}

.blog .headerNav a {
  @include navs ();
} 

.blog h1 {
  @include h1 (#ffffff);
}



