
/*****************/
/* Blog Styles */ 
/*****************/

.blog header .headerBackground {
  background-image: url("../BoatRideAdventures/assets/blog-header.jpg");
  width: 100%;
  background-color: royalblue;
}

.blog .headerNav a {
  @include navs ();
} 

.blog h1 {
  @include h1 (#ffffff);
}

/* Section 1 Styles */ 
/*****************/

.blog .sectionOne {
  // position: relative; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.blog .sectionOne aside {
  width: 20%;
  display: flex; 
  flex-direction: column;
}

.blog .sectionOne .sectionOneRightContainer {
  width: 70%;
  display: flex; 
  flex-direction: column;
}

.blog .sectionOne .sectionOneRightContainer img {

}


