
/*****************/
/* Home Page Styles */ 
/*****************/

/* Section One Styles */ 
/*****************/

.homePage .sectionOne {
  background-color: $backgrd1Colour;
}

.homePage .sectionOneFlex {
  width: 100%;
  display: flex; 
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 150px;
}

.homePage .positionIcons {
  width: 40%;
  margin: 60px 0;
}

.homePage .positionIcons:nth-child(1), 
.homePage .positionIcons:nth-child(3) {
  margin-right: 80px;
}

.homePage .positionIcons {
  position: relative;
}

.homePage .positionIcons i {
  @include icons ();
  position: absolute;
  top: 25px;
  left: -65px;
}

/* Section Two Styles */ 
/*****************/

.homePage .sectionTwo {
  background-color: $backgrd2Colour;
}

.homePage .sectionTwo h3 {
  color: $headerThreeColour;
  font-family: $headerFont;
  font-size: 4rem;
  line-height: 5.8rem;
  letter-spacing: 0.13rem;
}


.homePage .sectionTwo p {
  color: #ffffff;
}


// .homePage .sectionTwo {
//   position: relative;
// }

.homePage .topSectionTwoFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
}

.homePage .topSectionTwoFlex .leftImg {
  // min-width: 50%;
  max-width: 50%;
  position: relative;
  top: -20px;
  left: -150px;
}

.homePage .topSectionTwoFlex .leftImg img {
  box-shadow: 15px 15px $backgrd3Colour;
} 

.homePage .textContainer {
  min-width: 50%;
  max-width: 50%;
  padding: 30px;
  margin: 50px 0 40px 0;
}


.homePage .bottomSectionTwoFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
  // position: relative;
}

.homePage .bottomSectionTwoFlex .rightImg {
  // min-width: 50%;
  max-width: 50%;
  position: relative;
  bottom: -30px;
  right: -150px;
}

.homePage .bottomSectionTwoFlex .rightImg img {
  box-shadow: -15px 15px $backgrd3Colour;
} 

.homePage .bottomSectionTwoFlex h2 {
  text-align: right;
}

/* Section Three Styles */ 
/*****************/

.homePage .sectionThree {
  text-align: center;
  background-color: $backgrd1Colour;
  padding: 150px 0 100px 0;
}

.homePage .sectionThree .wrapper {
  width: 55%;
}

.homePage .sectionThree h2 {
  color: $headerTwoColour;
  font-family: $headerFont;
  font-size: 4.5rem;
  line-height: 9.98rem;
}

/* Section Four Styles */ 
/*****************/

.homePage .sectionFour img {
  width: 2000px;
}


/* Section Five Styles */ 
/*****************/

.homePage .sectionFive {
  background-color: $backgrd1Colour;
}

.homePage .sectionFiveContainer {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 0;
}

.homePage .sectionFiveImage {
  width: 25%;
  height: 100%;
  flex-shrink: 1;
}

.homePage .sectionFiveImage img {
  box-shadow: -15px 15px $backgrd3Colour;
}

.homePage .SecFiveTextContainer {
  width: 70%;
  flex-shrink: 3;
}

.homePage .SecFiveTextContainer h2 {
  color: $headerTwoColour;
  font-family: $headerFont;
  font-size: 4.5rem;
  line-height: 9.98rem;
}


/* Section Six Styles */ 
/*****************/
.homePage .sectionSix {
  background-color: $backgrd2Colour;
  padding: 80px 0; 
}

.homePage .sectionSix .FlexImgContainer {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.homePage .sectionSix li {
  width: calc(100%/3 - 20px);
}