/*****************/
/* Global Styles */ 
/*****************/
.homePage .wrapper {
  @include wrapper ();
}

.homePage p {
  color: #031f22;
  font-family: $bodyFont;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

h1, 
h2,
h3,
h4 {
  text-transform: uppercase;
}


/*****************/
/* Home Page Styles */ 
/*****************/

/* Section One Styles */ 
/*****************/

.homePage .sectionOne {
  background-color: $backgrd1Colour;
}

.homePage .sectionOneFlex {
  width: 100%;
  display: flex; 
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 150px;
}

.homePage .positionIcons {
  width: 40%;
  margin: 60px 0;
}

.homePage .positionIcons:nth-child(1), 
.homePage .positionIcons:nth-child(3) {
  margin-right: 80px;
}

.homePage .sectionOneFlex h2 {
  color: $headerTwoColour;
  font-family: $headerFont;
  font-size: 4.5rem;
  line-height: 9.98rem;
  text-transform: uppercase;
}

.homePage .positionIcons {
  position: relative;
}

.homePage .positionIcons i {
  @include icons ();
  position: absolute;
  top: 25px;
  left: -65px;
}

/* Section Two Styles */ 
/*****************/

.homePage .sectionTwo {
  background-color: $backgrd2Colour;
}

.homePage .sectionTwo h2 {
  color: $headerThreeColour;
  font-family: $headerFont;
  font-size: 4rem;
  line-height: 5.8rem;
  letter-spacing: 0.13rem;
}

.homePage .sectionTwo p {
  color: #ffffff;
}

.homePage .sectionTwo a {
  @include buttons ();
  }

.homePage .topSectionTwoFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
  position: relative;
}

.homePage .topSectionTwoFlex .leftImg {
  // min-width: 50%;
  max-width: 50%;
  // position: absolute;
  // top: 0;
  // left: 0;
}

.homePage .textContainer {
  min-width: 50%;
  max-width: 50%;
}

.homePage .bottomSectionTwoFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
  // position: relative;
}

.homePage .bottomSectionTwoFlex .rightImg {
  // min-width: 50%;
  max-width: 50%;
  // position: absolute;
  // bottom: 0;
  // right: 0;
}



/* Section Three Styles */ 
/*****************/


/* Section Four Styles */ 
/*****************/


/* Section Five Styles */ 
/*****************/


/* Section Six Styles */ 
/*****************/


/*****************/
/* Blog Styles */ 
/*****************/

/* Section One Styles */ 
/*****************/


/* Section Two Styles */ 
/*****************/



/*****************/
/* Contact Styles */ 
/*****************/


/* Section One Styles */ 
/*****************/