/*****************/
/* Blog Styles */ 
/*****************/

/* Section One Styles */ 
/*****************/

.blog main .sectionOne {
  background-color: $backgrd1Colour;
}

.blog .sectionOne {
  // position: relative; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.blog .sectionOne aside {
  width: 21.5%;
  display: flex; 
  flex-direction: column;
  background-color: $backgrd2Colour;
  height: 850px;
  padding: 20px;
  margin: 70px 0 200px 70px;
}

.blog .sectionOne aside .asideImage { 
  position: relative;
  top: -43px;
  left: -90px;
  width: 124%;
}

.blog .sectionOne .blueContainer {
  padding: 10px 10px 0 10px;
}

.blog .sectionOne .blueContainer h4 {
  @include h4 ($headerFourColour);
}

.blog .sectionOne .blueContainer p {
  @include p (#ffffff);
  font-weight: 400;
}

.blog .sectionOne .blueContainer .margin-bottom {
  margin-bottom: 40px;
}

.blog .sectionOne .blueContainer .list li {
  list-style: initial;
  color: #ffffff;
  margin-left: 10px;
}

.blog .sectionOne .sectionOneRightContainer {
  display: flex; 
  flex-direction: column;
  border-left: 5px solid $backgrd3Colour;
  border-bottom: 5px solid $backgrd3Colour;
}

.blog .sectionOne .sectionOneRightContainer img {
  box-shadow: -20px 20px $backgrd3Colour;
  position: relative;
  top: -120px;
  right: -16px;

}

.blog .sectionOne .sectionOneRightContainer .image {
  width: 100%;

}

.blog .sectionOne .sectionOneRightContainer .yellowContainer {
  padding: 0 40px 100px 0;
}

.blog .sectionOne .sectionOneRightContainer .yellowContainer .wrapper {
  width: 60%;
  margin: 0 10% 0 10%;  
}

.blog .sectionOne .sectionOneRightContainer .yellowContainer h2 {
  margin: 0 0 20px 0;
}

.blog .sectionOne .sectionOneRightContainer .yellowContainer p {
  @include p ($p);
  margin-bottom: 25px;
} 

/* Section Two Styles */ 
/*****************/

.blog .sectionTwo {
  background-color: $backgrd1Colour;
} 

.blog .sectionTwo .wrapper {
  width: 50%;
  margin: 0 20% 0 40%;  
}

.blog .sectionTwo .wrapper h2 {
  padding-top: 50px; 
} 

.blog .sectionTwo .wrapper .flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.blog .sectionTwo .wrapper .flexContainer .image {
  width: 18%;
  padding: 10px 10px 30px 0;
}

.blog .sectionTwo .wrapper .flexContainer .image img {
  width: 100%;
}

.blog .sectionTwo .wrapper .flexContainer .textContainer {
  width: 75%;
  margin-bottom: 100px;
}


.blog .sectionTwo .wrapper h5 {
  @include h5 ($h5);
}

.blog .sectionTwo .wrapper {
  margin-bottom: 30px;
}

.blog .sectionTwo .form {
  width: 50%;
  margin: 5% 20% 0 40%;  
}

.blog .sectionTwo .form form {
  display: flex;
  flex-direction: column;
}

.blog .sectionTwo .form form .topForm {
  width: 100%;
}

.blog .sectionTwo .form form .topForm input {
  border: none;
  border-bottom: 2px solid $backgrd3Colour;
  background-color: $backgrd1Colour;
  width: calc(100%/2 - 20px);
  padding: 0 20px 18px 20px;
  margin-bottom: 40px;
  color: $p;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.blog .form form .topForm input::placeholder {
  color: $p;
  opacity: 1;
}

.blog .sectionTwo .form form .topForm .margin{
  margin-right: 35px;
}

.blog .sectionTwo .form form .bottomForm textarea {
  border: 2px solid $backgrd3Colour;
  background-color: $backgrd1Colour;
  width: 100%;
  height: 200px;
}

.blog .sectionTwo .form input {
  @include p ($p);
}

.blog .sectionTwo .form .bottomForm textarea {
  @include p ($p);
  padding:20px;
}

.blog .form form .bottomForm textarea::placeholder {
  color: $p;
  opacity: 1;
}

.blog .sectionTwo .form .submit button {
  padding: 10px 20px;
  background: $backgrd2Colour;
  color: $backgrd3Colour; 
  font-size: 2rem;
  border: none;
  font-family: $headerFont;
  text-transform: uppercase;
  margin: 40px 0 100px 0;
  width: 100%;
}

.blog .sectionTwo .form .submit button:hover,
.blog .sectionTwo .form .submit button:focus-within {
  background-color: $backgrd2Colour;
  border: 2px solid $backgrd3Colour;
  color: $backgrd3Colour;
}



