@mixin buttons(){
  padding: 10px 20px;
  background: $color;
  color: #0D457F; 
  font-size: 2rem;
  border: none;
  // text-decoration: none;
  // display: inline-block;
  font-family: $headerFont;
}

@mixin navs {
  padding: 10px 20px;
  color: #ffffff; 
  font-size: 2rem;
  font-family: $bodyFont;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  // border: none;
}

@mixin wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;  
}

@mixin icons {
  background-color: $backgrd3Colour;
  color: $headerTwoColour;
  font-size: 2.8rem;
  width: 5rem; 
  height: 5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
}


