@mixin h1 ($color) {
  color: $color; 
  font-family: $headerFont; 
  font-size: 7.9rem;
  text-shadow: 2px 2px 8px #031f22;
  width: 40%;
  margin-bottom: 2rem;
}

@mixin h2 ($color) {
  color: $color; 
  font-family: $headerFont; 
  font-size: 4.5rem;
  line-height: 9.98rem;
  margin-bottom: 2rem;
}

@mixin h3 ($color) {
  color: $color; 
  font-family: $headerFont; 
  font-size: 4rem;
  line-height: 5.8rem;
  margin-bottom: 2rem;
}

@mixin h4 ($color) {
  color: $color; 
  font-family: $headerFont; 
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: 0.08rem;
  margin-bottom: 1rem;
}

@mixin h5 ($color) {
  color: $color; 
  font-family: $bodyFont; 
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  margin-bottom: 1rem;
}

@mixin p ($color) {
  color: ($color);
  font-family: $bodyFont;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

@mixin buttons {
  padding: 10px 20px;
  background: $backgrd3Colour;
  color: #0D457F; 
  font-size: 2rem;
  border: none;
  // text-decoration: none;
  // display: inline-block;
  font-family: $headerFont;
  text-transform: uppercase;
  margin-top: 40px;
}

@mixin navs {
  margin: 10px 40px 10px 0;
  color: #ffffff; 
  font-size: 2rem;
  font-family: $bodyFont;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  // border: none;
}

@mixin wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;  
}

@mixin icons {
  background-color: $backgrd3Colour;
  color: $headerTwoColour;
  font-size: 2.8rem;
  width: 5rem; 
  height: 5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
}

@mixin input {
  border-bottom: 2px solid $backgrd3Colour; 
}

@mixin textarea {
  border: 2px solid $backgrd3Colour; 
}


@mixin footer {
  text-align: center;
  background-color: $backgrd3Colour;
  p {
    color: $backgrd2Colour;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.1px;
    a {
      color: $backgrd2Colour;
      font-size: 2rem;
      line-height: 2.8rem;
      letter-spacing: 0.1px;
    }
  }
} 