
/* Font Colours */ 
$headerOneMainColour: #FDD908; 
$headerOneColour: #ffffff; 
$headerTwoColour: #0D457F; 
$headerThreeColour: #ffffff;
$headerFourColour: #FDD908; 
$h5: #0D457F;
$p: #031f22;

/* Font Families */ 
$headerFont: 'IM Fell English', serif;
$bodyFont: 'Roboto', sans-serif;

/* Background Colours */ 
$backgrd1Colour: #EAFEFC;
$backgrd2Colour:#0D457F; 
$backgrd3Colour: #FDD908; 

/* Button Colours */ 
