html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-size: 62.5%;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/* Font Colours */
/* Font Families */
/* Background Colours */
/* Button Colours */
/*****************/
/* Global Styles */
/*****************/
.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

h1 {
  color: #ffffff;
  font-family: "IM Fell English", serif;
  font-size: 7.9rem;
  text-shadow: 2px 2px 8px #031f22;
  width: 40%;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h2 {
  color: #0D457F;
  font-family: "IM Fell English", serif;
  font-size: 4.5rem;
  line-height: 9.98rem;
}

p {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.button {
  padding: 10px 20px;
  background: #FDD908;
  color: #0D457F;
  font-size: 2rem;
  border: none;
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  margin-top: 40px;
}

a.button:hover,
a.button:focus-within {
  background-color: #0D457F;
  border: 2px solid #FDD908;
  color: #FDD908;
}

a:hover,
a:focus-within {
  border-bottom: 3px solid #FDD908;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/*****************/
/* Global Styles */
/*****************/
.homePage .wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  width: 80%;
}

h1 {
  color: #ffffff;
  font-family: "IM Fell English", serif;
  font-size: 7.9rem;
  text-shadow: 2px 2px 8px #031f22;
  width: 40%;
  margin-bottom: 2rem;
}

/*****************/
/* Home Page Styles */
/*****************/
.homePage header {
  background-image: url("../assets/home-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.homePage .headerNav {
  margin-bottom: 17rem;
  padding-top: 6rem;
}

.homePage .headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.homePage .headerNav a {
  margin: 10px 40px 10px 0;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.homePage .header-nav i {
  display: none;
}

.homePage .wrapper .bottomHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homePage .bottomHeader h1 {
  color: #FDD908;
  font-family: "IM Fell English", serif;
  font-size: 7.9rem;
  text-shadow: 2px 2px 8px #031f22;
  width: 40%;
  margin-bottom: 2rem;
  width: 40%;
}

.homePage .headerImg {
  width: 74%;
  position: absolute;
  right: -13%;
  top: 289px;
}

/*****************/
/* Home Page Styles */
/*****************/
/* Section One Styles */
/*****************/
.homePage .sectionOne {
  background-color: #EAFEFC;
}

.homePage .sectionOneFlex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 150px;
}

.homePage .positionIcons {
  width: 40%;
  margin: 60px 0;
}

.homePage .positionIcons:nth-child(1),
.homePage .positionIcons:nth-child(3) {
  margin-right: 80px;
}

.homePage .positionIcons {
  position: relative;
}

.homePage .positionIcons i {
  background-color: #FDD908;
  color: #0D457F;
  font-size: 2.8rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  position: absolute;
  top: 25px;
  left: -65px;
}

/* Section Two Styles */
/*****************/
.homePage .sectionTwo {
  background-color: #0D457F;
}

.homePage .sectionTwo h3 {
  color: #ffffff;
  font-family: "IM Fell English", serif;
  font-size: 4rem;
  line-height: 5.8rem;
  letter-spacing: 0.13rem;
}

.homePage .sectionTwo p {
  color: #ffffff;
}

.homePage .topSectionTwoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.homePage .topSectionTwoFlex .leftImg {
  max-width: 50%;
  position: relative;
  top: -20px;
  left: -150px;
}

.homePage .topSectionTwoFlex .leftImg img {
  -webkit-box-shadow: 15px 15px #FDD908;
          box-shadow: 15px 15px #FDD908;
}

.homePage .textContainer {
  min-width: 50%;
  max-width: 50%;
  padding: 30px;
  margin: 50px 0 40px 0;
}

.homePage .bottomSectionTwoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.homePage .bottomSectionTwoFlex .rightImg {
  max-width: 50%;
  position: relative;
  bottom: -30px;
  right: -150px;
}

.homePage .bottomSectionTwoFlex .rightImg img {
  -webkit-box-shadow: -15px 15px #FDD908;
          box-shadow: -15px 15px #FDD908;
}

.homePage .bottomSectionTwoFlex h2 {
  text-align: right;
}

/* Section Three Styles */
/*****************/
.homePage .sectionThree {
  text-align: center;
  background-color: #EAFEFC;
  padding: 150px 0 100px 0;
}

.homePage .sectionThree .wrapper {
  width: 55%;
}

.homePage .sectionThree h2 {
  color: #0D457F;
  font-family: "IM Fell English", serif;
  font-size: 4.5rem;
  line-height: 9.98rem;
}

/* Section Four Styles */
/*****************/
.homePage .sectionFour img {
  width: 2000px;
}

/* Section Five Styles */
/*****************/
.homePage .sectionFive {
  background-color: #EAFEFC;
}

.homePage .sectionFiveContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0;
}

.homePage .sectionFiveImage {
  width: 25%;
  height: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.homePage .sectionFiveImage img {
  -webkit-box-shadow: -15px 15px #FDD908;
          box-shadow: -15px 15px #FDD908;
}

.homePage .SecFiveTextContainer {
  width: 70%;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.homePage .SecFiveTextContainer h2 {
  color: #0D457F;
  font-family: "IM Fell English", serif;
  font-size: 4.5rem;
  line-height: 9.98rem;
}

/* Section Six Styles */
/*****************/
.homePage .sectionSix {
  background-color: #0D457F;
  padding: 80px 0;
}

.homePage .sectionSix .FlexImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.homePage .sectionSix li {
  width: calc(100%/3 - 20px);
}

/*****************/
/* Blog Styles */
/*****************/
.blog header {
  background-image: url("../assets/blog-header.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.blog .headerNav {
  margin-bottom: 16rem;
  padding-top: 6rem;
}

.blog .headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blog .headerNav a {
  margin: 10px 40px 10px 0;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.blog h1 {
  color: #ffffff;
  font-family: "IM Fell English", serif;
  font-size: 7.9rem;
  text-shadow: 2px 2px 8px #031f22;
  width: 40%;
  margin-bottom: 2rem;
}

/*****************/
/* Blog Styles */
/*****************/
/* Section One Styles */
/*****************/
.blog main .sectionOne {
  background-color: #EAFEFC;
}

.blog .sectionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.blog .sectionOne aside {
  width: 21.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0D457F;
  height: 850px;
  padding: 20px;
  margin: 70px 0 200px 70px;
}

.blog .sectionOne aside .asideImage {
  position: relative;
  top: -43px;
  left: -90px;
  width: 124%;
}

.blog .sectionOne .blueContainer {
  padding: 10px 10px 0 10px;
}

.blog .sectionOne .blueContainer h4 {
  color: #FDD908;
  font-family: "IM Fell English", serif;
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: 0.08rem;
  margin-bottom: 1rem;
}

.blog .sectionOne .blueContainer p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
  font-weight: 400;
}

.blog .sectionOne .blueContainer .margin-bottom {
  margin-bottom: 40px;
}

.blog .sectionOne .blueContainer .list li {
  list-style: initial;
  color: #ffffff;
  margin-left: 10px;
}

.blog .sectionOne .sectionOneRightContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 5px solid #FDD908;
  border-bottom: 5px solid #FDD908;
}

.blog .sectionOne .sectionOneRightContainer img {
  -webkit-box-shadow: -20px 20px #FDD908;
          box-shadow: -20px 20px #FDD908;
  position: relative;
  top: -120px;
  right: -16px;
}

.blog .sectionOne .sectionOneRightContainer .image {
  width: 100%;
}

.blog .sectionOne .sectionOneRightContainer .yellowContainer {
  padding: 0 40px 100px 0;
}

.blog .sectionOne .sectionOneRightContainer .yellowContainer .wrapper {
  width: 60%;
  margin: 0 10% 0 10%;
}

.blog .sectionOne .sectionOneRightContainer .yellowContainer h2 {
  margin: 0 0 20px 0;
}

.blog .sectionOne .sectionOneRightContainer .yellowContainer p {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
  margin-bottom: 25px;
}

/* Section Two Styles */
/*****************/
.blog .sectionTwo {
  background-color: #EAFEFC;
}

.blog .sectionTwo .wrapper {
  width: 50%;
  margin: 0 20% 0 40%;
}

.blog .sectionTwo .wrapper h2 {
  padding-top: 50px;
}

.blog .sectionTwo .wrapper .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.blog .sectionTwo .wrapper .flexContainer .image {
  width: 18%;
  padding: 10px 10px 30px 0;
}

.blog .sectionTwo .wrapper .flexContainer .image img {
  width: 100%;
}

.blog .sectionTwo .wrapper .flexContainer .textContainer {
  width: 75%;
  margin-bottom: 100px;
}

.blog .sectionTwo .wrapper h5 {
  color: #0D457F;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  margin-bottom: 1rem;
}

.blog .sectionTwo .wrapper {
  margin-bottom: 30px;
}

.blog .sectionTwo .form {
  width: 50%;
  margin: 5% 20% 0 40%;
}

.blog .sectionTwo .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog .sectionTwo .form form .topForm {
  width: 100%;
}

.blog .sectionTwo .form form .topForm input {
  border: none;
  border-bottom: 2px solid #FDD908;
  background-color: #EAFEFC;
  width: calc(100%/2 - 20px);
  padding: 0 20px 18px 20px;
  margin-bottom: 40px;
  color: #031f22;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.blog .form form .topForm input::-webkit-input-placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .form form .topForm input:-ms-input-placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .form form .topForm input::-ms-input-placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .form form .topForm input::placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .sectionTwo .form form .topForm .margin {
  margin-right: 35px;
}

.blog .sectionTwo .form form .bottomForm textarea {
  border: 2px solid #FDD908;
  background-color: #EAFEFC;
  width: 100%;
  height: 200px;
}

.blog .sectionTwo .form input {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.blog .sectionTwo .form .bottomForm textarea {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
  padding: 20px;
}

.blog .form form .bottomForm textarea::-webkit-input-placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .form form .bottomForm textarea:-ms-input-placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .form form .bottomForm textarea::-ms-input-placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .form form .bottomForm textarea::placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .sectionTwo .form .submit button {
  padding: 10px 20px;
  background: #0D457F;
  color: #FDD908;
  font-size: 2rem;
  border: none;
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  margin: 40px 0 100px 0;
  width: 100%;
}

.blog .sectionTwo .form .submit button:hover,
.blog .sectionTwo .form .submit button:focus-within {
  background-color: #0D457F;
  border: 2px solid #FDD908;
  color: #FDD908;
}

/*****************/
/* Contact Styles */
/*****************/
.contact header {
  background-image: url("../assets/contact-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 60vh;
}

.contact .headerNav {
  margin-bottom: 12rem;
  padding-top: 6rem;
}

.contact .headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact .headerNav a {
  margin: 10px 40px 10px 0;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.contact .bottomHeaderContainer h1 {
  width: 100%;
}

/*****************/
/* Contact Styles */
/*****************/
/* Section One Styles */
/*****************/
.contact main {
  background-color: #EAFEFC;
}

.contact main .sectionOne {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.contact .sectionOneFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact .sectionOneFlexContainer .leftContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 24%;
  margin-top: 150px;
}

.contact .sectionOneFlexContainer .leftContainer div i {
  font-size: 3rem;
  color: #0D457F;
  padding: 0 25px 25px 0;
}

.contact .sectionOneFlexContainer .leftContainer > p {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.contact .sectionOneFlexContainer .leftContainer .email {
  margin-bottom: 30px;
}

.contact .sectionOneFlexContainer .leftContainer .address {
  margin-bottom: 200px;
}

/* Form Styles */
/*****************/
.contact .form {
  width: 76%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 400px;
}

.contact .form form {
  background-color: #0D457F;
  padding: 100px 50px 50px 50px;
  -webkit-box-shadow: 15px 15px #FDD908;
          box-shadow: 15px 15px #FDD908;
  position: relative;
  top: -170px;
  right: -250px;
}

.contact .form form .topForm input {
  border: none;
  border-bottom: 2px solid #FDD908;
  background-color: #0D457F;
  width: calc(100%/2 - 20px);
  padding: 0 20px 18px 20px;
  margin-bottom: 40px;
  color: #ffffff;
}

.contact .form form .topForm .margin {
  margin-right: 35px;
}

.contact .form form .topForm input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .topForm input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .topForm input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .topForm input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .bottomForm textarea {
  border: 2px solid #FDD908;
  background-color: #0D457F;
  color: #ffffff;
  width: 100%;
  height: 300px;
}

.contact .form form .bottomForm textarea::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .bottomForm textarea:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .bottomForm textarea::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .bottomForm textarea::placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form input {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
  font-weight: 400;
}

.contact .form .bottomForm textarea {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
  padding: 20px;
  font-weight: 400;
}

.contact .form form button {
  padding: 10px 20px;
  background: #FDD908;
  color: #0D457F;
  font-size: 2rem;
  border: none;
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  margin: 40px 0;
  width: 100%;
}

.contact .form form button:hover,
.contact .form form button:focus-within {
  background-color: #0D457F;
  border: 2px solid #FDD908;
  color: #FDD908;
}

/*****************/
/* Global Styles */
/*****************/
footer {
  text-align: center;
  background-color: #FDD908;
}

footer p {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

footer p a {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

/*****************/
/* Home Page Styles */
/*****************/
.homePage footer {
  text-align: center;
  background-color: #FDD908;
}

.homePage footer p {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.homePage footer p a {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

/*****************/
/* Blog Styles */
/*****************/
.blog footer {
  text-align: center;
  background-color: #FDD908;
}

.blog footer p {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.blog footer p a {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

/*****************/
/* Contact Styles */
/*****************/
.contact footer {
  text-align: center;
  background-color: #FDD908;
}

.contact footer p {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.contact footer p a {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

/*****************/
/* Home Page Styles */
/*****************/
/* Header Styles */
/*****************/
@media (max-width: 1476px) {
  .homePage .headerNav {
    margin-bottom: 4rem;
  }
  .homePage .wrapper .bottomHeader {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homePage .bottomHeader h1 {
    color: #FDD908;
    font-family: "IM Fell English", serif;
    font-size: 7.9rem;
    text-shadow: 2px 2px 8px #031f22;
    width: 40%;
    margin-bottom: 2rem;
    font-size: 6.5rem;
    width: 100%;
  }
  .homePage .headerImg {
    position: absolute;
    width: 64%;
    right: -189px;
    top: 141%;
  }
}

@media (max-width: 1100px) {
  /* Header Styles */
  /*****************/
  .homePage .headerNav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homePage .headerNav a {
    margin: 10px 40px 10px 40px;
  }
  .homePage .headerImg {
    position: initial;
    margin-top: 40px;
  }
  /* Section 1 Styles */
  /*****************/
  .homePage .sectionOneFlex {
    padding-top: 30px;
  }
  .homePage .sectionOneFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-bottom: 50px;
  }
  .homePage .positionIcons {
    width: 80%;
    margin: 30px 0;
    text-align: left;
  }
  .homePage .positionIcons:nth-child(1), .homePage .positionIcons:nth-child(3) {
    margin: 0;
  }
  /* Section 2 Styles */
  /*****************/
  .homePage .topSectionTwoFlex .leftImg {
    top: 96px;
    left: -80px;
  }
  .homePage .bottomSectionTwoFlex .rightImg {
    bottom: -80px;
    right: -79px;
  }
}

@media (max-width: 1074px) {
  /* Header Styles */
  /*****************/
  .homePage .bottomHeader h1 {
    font-size: 6.5rem;
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 1052px) {
  /* Section 2 Styles */
  /*****************/
  .homePage .topSectionTwoFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homePage .topSectionTwoFlex .leftImg {
    position: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    padding: 70px 0 30px 0;
  }
  .homePage .bottomSectionTwoFlex .rightImg {
    position: initial;
    max-width: 100%;
    padding: 10px 40px;
  }
  .homePage .textContainer {
    max-width: 100%;
  }
  .homePage .bottomSectionTwoFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  /* Section 2 Styles */
  /*****************/
  .homePage .sectionFiveContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .homePage .sectionFiveImage {
    max-width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  .homePage .sectionFiveImage img {
    max-width: none;
  }
}

@media (max-width: 762px) {
  /* Header Styles */
  /*****************/
  .homePage .bottomHeader h1 {
    font-size: 4rem;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
  }
  .homePage .headerImg {
    position: static;
    width: 90%;
    text-align: center;
  }
  /* Section 1 Styles */
  /*****************/
  .homePage .positionIcons h2 {
    font-size: 3.5rem;
  }
  /* Section 2 Styles */
  /*****************/
  .homePage .sectionTwo .topSectionTwoFlex .textContainer {
    text-align: center;
  }
  .homePage .sectionTwo .bottomSectionTwoFlex .textContainer {
    text-align: center;
  }
  /* Section 3 Styles */
  /*****************/
  .homePage .sectionThree .wrapper {
    width: 86%;
  }
  .homePage .sectionThree {
    padding: 74px 0 90px 0;
  }
  .homePage .sectionThree h2 {
    font-size: 3.5rem;
  }
  /* Section 5 Styles */
  /*****************/
  .homePage .sectionFive .wrapper {
    width: 100%;
  }
  .homePage .SecFiveTextContainer h2 {
    font-size: 3.5rem;
    text-align: center;
  }
  .homePage .sectionFiveImage {
    width: 42%;
  }
  .homePage .SecFiveTextContainer {
    width: 80%;
    text-align: center;
  }
}

@media (max-width: 610px) {
  /* Header Styles */
  /*****************/
  .homePage .headerNav a {
    margin: 10px;
  }
}

@media (max-width: 320px) {
  /* Header Styles */
  /*****************/
  .homePage header {
    height: 50vh;
  }
  .homePage .bottomHeader h1 {
    font-size: 3rem;
  }
  .homePage .headerNav a {
    display: none;
  }
  .homePage .headerNav i {
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 4rem;
    color: #ffffff;
  }
  /* Section 1 Styles */
  /*****************/
  .homePage .positionIcons {
    width: 100%;
    margin: 30px 0;
    text-align: center;
  }
  .homePage .positionIcons h2 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .homePage .positionIcons p {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  .homePage .positionIcons i {
    display: none;
  }
  /* Section 2 Styles */
  /*****************/
  .homePage .sectionTwo h3 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.13rem;
  }
  .homePage .sectionTwo p {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  /* Section 3 Styles */
  /*****************/
  .homePage .sectionThree .wrapper h2 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.13rem;
    padding-bottom: 20px;
  }
  .homePage .sectionThree .wrapper p {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  /* Section 5 Styles */
  /*****************/
  .homePage .SecFiveTextContainer h2 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.13rem;
    padding-bottom: 20px;
  }
  .homePage .SecFiveTextContainer p {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  .homePage .sectionFiveImage {
    width: 100%;
    padding: 40px;
  }
  .homePage .sectionFiveImage img {
    max-width: 100%;
  }
  /* Section 6 Styles */
  /*****************/
  .homePage .sectionSix .FlexImgContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homePage .sectionSix li {
    width: 100%;
    padding: 20px;
  }
}

/*****************/
/* Blog Styles */
/*****************/
@media (max-width: 1699px) {
  /* Section 1 Styles */
  /*****************/
}

@media (max-width: 320px) {
  /* Header Styles */
  /*****************/
  .blog header {
    height: 50vh;
  }
  .blog h1 {
    font-size: 4rem;
    text-align: center;
  }
  .blog .headerNav a {
    display: none;
  }
  .blog .wrapper .headerNav i {
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 4rem;
    color: #ffffff;
  }
  /* Section 1 Styles */
  /*****************/
  .blog .sectionOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .sectionOne aside {
    width: 95%;
    height: 850px;
    padding: 5px;
    margin: 25px 0 35px 50px;
  }
  .blog .sectionOne .blueContainer .margin-bottom {
    margin-bottom: 30px;
  }
  .blog .sectionOne .sectionOneRightContainer .yellowContainer {
    padding: 0 10px 50px 0;
  }
  .blog .sectionOne .sectionOneRightContainer .yellowContainer .wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .blog .sectionOne .sectionOneRightContainer .yellowContainer h2 {
    margin: 0 0 10px 0;
    font-size: 2.5rem;
  }
  .blog .sectionOne .sectionOneRightContainer .yellowContainer p {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  /* Section 2 Styles */
  .blog .sectionTwo .wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .blog .sectionTwo .wrapper h2 {
    font-size: 3.5rem;
    line-height: 5.98rem;
    padding-top: 34px;
  }
  /* Form Styles */
  .blog .sectionTwo .form {
    width: 90%;
    margin: 0 auto;
  }
  .blog .sectionTwo .form form .topForm input {
    width: 100%;
  }
}

/*****************/
/* Contact Styles */
/*****************/
@media (max-width: 1405px) {
  /* Section 1 Styles */
  /*****************/
  .contact .form {
    width: 70%;
  }
  .contact .form form {
    right: -150px;
  }
}

@media (max-width: 1305px) {
  /* Section 1 Styles */
  /*****************/
  .contact .form form {
    right: -140px;
  }
}

@media (max-width: 1205px) {
  /* Section 1 Styles */
  /*****************/
  .contact .form {
    width: 95%;
  }
  .contact .form form {
    right: -130px;
  }
}

@media (max-width: 1063px) {
  /* Section 1 Styles */
  /*****************/
  .contact .sectionOneFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .form form {
    position: static;
    margin-top: 5rem;
  }
  .contact .sectionOneFlexContainer .leftContainer {
    width: 100%;
    text-align: center;
    margin: 85px 0 50px 0;
  }
  .contact .sectionOneFlexContainer .leftContainer div i {
    padding: 0 15px 25px 15px;
  }
}

@media (max-width: 617px) {
  /* Header Styles */
  /*****************/
  .contact .headerNav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .headerNav a {
    margin: 10px 30px 10px 30px;
  }
  .contact .bottomHeaderContainer h1 {
    font-size: 5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
  }
  .contact .form form .topForm input {
    width: 100%;
  }
}

@media (max-width: 482px) {
  /* Header Styles */
  /*****************/
  .contact .headerNav a {
    margin: 10px;
  }
  /* Footer Styles */
  /*****************/
  .contact .sectionOneFlexContainer .leftContainer {
    margin: 78px 0 -54px 0;
  }
}

@media (max-width: 320px) {
  /* Header Styles */
  /*****************/
  .contact header {
    height: 50vh;
  }
  .contact .bottomHeaderContainer h1 {
    font-size: 3rem;
  }
  .contact .headerNav a {
    display: none;
  }
  .contact .headerNav i {
    display: inline-block;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 4rem;
    color: #ffffff;
  }
}
