html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-size: 62.5%;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/* Font Colours */
/* Font Families */
/* Background Colours */
/* Button Colours */
/*****************/
/* Global Styles */
/*****************/
.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

h1 {
  color: #ffffff;
  font-family: "IM Fell English", serif;
  font-size: 7.9rem;
  text-shadow: 2px 2px 8px #031f22;
  width: 40%;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h2 {
  color: #0D457F;
  font-family: "IM Fell English", serif;
  font-size: 4.5rem;
  line-height: 9.98rem;
}

p {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.button {
  padding: 10px 20px;
  background: #FDD908;
  color: #0D457F;
  font-size: 2rem;
  border: none;
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  margin-top: 40px;
}

/*****************/
/* Global Styles */
/*****************/
.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

h1 {
  color: #ffffff;
  font-family: "IM Fell English", serif;
  font-size: 7.9rem;
  text-shadow: 2px 2px 8px #031f22;
  width: 40%;
  margin-bottom: 2rem;
}

/*****************/
/* Home Page Styles */
/*****************/
.homePage header {
  background-image: url("../assets/home-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 80vh;
}

.homePage .headerNav {
  margin-bottom: 6rem;
  padding-top: 6rem;
}

.homePage .headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.homePage .headerNav a {
  padding: 10px 40px 10px 0;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.homePage .bottomHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homePage .bottomHeader h1 {
  color: #FDD908;
  font-family: "IM Fell English", serif;
  font-size: 7.9rem;
  text-shadow: 2px 2px 8px #031f22;
  width: 40%;
  margin-bottom: 2rem;
}

.homePage .headerImg {
  min-width: 50%;
  max-width: 50%;
  position: absolute;
  right: 0;
  bottom: -160px;
}

/*****************/
/* Home Page Styles */
/*****************/
/* Section One Styles */
/*****************/
.homePage .sectionOne {
  background-color: #EAFEFC;
}

.homePage .sectionOneFlex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 150px;
}

.homePage .positionIcons {
  width: 40%;
  margin: 60px 0;
}

.homePage .positionIcons:nth-child(1),
.homePage .positionIcons:nth-child(3) {
  margin-right: 80px;
}

.homePage .positionIcons {
  position: relative;
}

.homePage .positionIcons i {
  background-color: #FDD908;
  color: #0D457F;
  font-size: 2.8rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  position: absolute;
  top: 25px;
  left: -65px;
}

/* Section Two Styles */
/*****************/
.homePage .sectionTwo {
  background-color: #0D457F;
}

.homePage .sectionTwo h3 {
  color: #ffffff;
  font-family: "IM Fell English", serif;
  font-size: 4rem;
  line-height: 5.8rem;
  letter-spacing: 0.13rem;
}

.homePage .sectionTwo p {
  color: #ffffff;
}

.homePage .topSectionTwoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.homePage .topSectionTwoFlex .leftImg {
  max-width: 50%;
  position: relative;
  top: -20px;
  left: -150px;
}

.homePage .topSectionTwoFlex .leftImg img {
  -webkit-box-shadow: 15px 15px #FDD908;
          box-shadow: 15px 15px #FDD908;
}

.homePage .textContainer {
  min-width: 50%;
  max-width: 50%;
  padding: 30px;
  margin: 50px 0 40px 0;
}

.homePage .bottomSectionTwoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.homePage .bottomSectionTwoFlex .rightImg {
  max-width: 50%;
  position: relative;
  bottom: -30px;
  right: -150px;
}

.homePage .bottomSectionTwoFlex .rightImg img {
  -webkit-box-shadow: -15px 15px #FDD908;
          box-shadow: -15px 15px #FDD908;
}

.homePage .bottomSectionTwoFlex h2 {
  text-align: right;
}

/* Section Three Styles */
/*****************/
.homePage .sectionThree {
  text-align: center;
  background-color: #EAFEFC;
  padding: 150px 0 100px 0;
}

.homePage .sectionThree .wrapper {
  width: 55%;
}

.homePage .sectionThree h2 {
  color: #0D457F;
  font-family: "IM Fell English", serif;
  font-size: 4.5rem;
  line-height: 9.98rem;
}

/* Section Four Styles */
/*****************/
.homePage .sectionFour img {
  width: 2000px;
}

/* Section Five Styles */
/*****************/
.homePage .sectionFive {
  background-color: #EAFEFC;
}

.homePage .sectionFiveContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0;
}

.homePage .sectionFiveImage {
  width: 25%;
  height: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.homePage .sectionFiveImage img {
  -webkit-box-shadow: -15px 15px #FDD908;
          box-shadow: -15px 15px #FDD908;
}

.homePage .SecFiveTextContainer {
  width: 70%;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.homePage .SecFiveTextContainer h2 {
  color: #0D457F;
  font-family: "IM Fell English", serif;
  font-size: 4.5rem;
  line-height: 9.98rem;
}

/* Section Six Styles */
/*****************/
.homePage .sectionSix {
  background-color: #0D457F;
  padding: 80px 0;
}

.homePage .sectionSix .FlexImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.homePage .sectionSix li {
  width: calc(100%/3 - 20px);
}

/*****************/
/* Blog Styles */
/*****************/
.blog header {
  background-image: url("../assets/blog-header.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.blog .headerNav {
  margin-bottom: 6rem;
  padding-top: 6rem;
}

.blog .headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blog .headerNav a {
  padding: 10px 40px 10px 0;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.blog h1 {
  color: #ffffff;
  font-family: "IM Fell English", serif;
  font-size: 7.9rem;
  text-shadow: 2px 2px 8px #031f22;
  width: 40%;
  margin-bottom: 2rem;
}

/*****************/
/* Blog Styles */
/*****************/
/* Section One Styles */
/*****************/
.blog main .sectionOne {
  background-color: #EAFEFC;
}

.blog .sectionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.blog .sectionOne aside {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0D457F;
  height: 720px;
  padding: 20px;
  position: relative;
  margin: 70px 0 200px 70px;
}

.blog .sectionOne aside .asideImage {
  position: absolute;
  top: -15px;
  left: -70px;
  width: 120%;
}

.blog .sectionOne .blueContainer {
  padding: 260px 10px 0 10px;
  position: absolute;
  top: 10px;
  right: -20px;
}

.blog .sectionOne .blueContainer h4 {
  color: #FDD908;
  font-family: "IM Fell English", serif;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.08rem;
  margin-bottom: 1rem;
  font-size: 20px;
}

.blog .sectionOne .blueContainer p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: 16px;
}

.blog .sectionOne .blueContainer .margin-bottom {
  margin-bottom: 20px;
}

.blog .sectionOne .blueContainer .list li {
  list-style: initial;
  color: #ffffff;
  margin-left: 10px;
}

.blog .sectionOne .sectionOneRightContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 5px solid #FDD908;
  border-bottom: 5px solid #FDD908;
}

.blog .sectionOne .sectionOneRightContainer img {
  -webkit-box-shadow: -20px 20px #FDD908;
          box-shadow: -20px 20px #FDD908;
  position: relative;
  top: 0;
  right: 0;
}

.blog .sectionOne .sectionOneRightContainer .image {
  width: 100%;
}

.blog .sectionOne .sectionOneRightContainer .yellowContainer {
  padding: 30px 40px 100px 0;
}

.blog .sectionOne .sectionOneRightContainer .yellowContainer .wrapper {
  width: 60%;
  margin: 0 10% 0 10%;
}

.blog .sectionOne .sectionOneRightContainer .yellowContainer h2 {
  margin: 30px 0 20px 0;
}

.blog .sectionOne .sectionOneRightContainer .yellowContainer p {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
  margin-bottom: 25px;
}

/* Section Two Styles */
/*****************/
.blog .sectionTwo {
  background-color: #EAFEFC;
}

.blog .sectionTwo .wrapper {
  width: 50%;
  margin: 0 20% 0 40%;
}

.blog .sectionTwo .wrapper h2 {
  padding-top: 50px;
}

.blog .sectionTwo .wrapper .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.blog .sectionTwo .wrapper .flexContainer .image {
  width: 18%;
  padding: 10px 10px 30px 0;
}

.blog .sectionTwo .wrapper .flexContainer .image img {
  width: 100%;
}

.blog .sectionTwo .wrapper .flexContainer .textContainer {
  width: 75%;
}

.blog .sectionTwo .wrapper .flexContainer .textContainer p:nth-of-type(1) {
  margin-bottom: 105px;
}

.blog .sectionTwo .wrapper h5 {
  color: #0D457F;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  margin-bottom: 1rem;
}

.blog .sectionTwo .wrapper {
  margin-bottom: 30px;
}

.blog .sectionTwo .form {
  width: 50%;
  margin: 0 20% 0 40%;
}

.blog .sectionTwo .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog .sectionTwo .form form .topForm {
  width: 100%;
}

.blog .sectionTwo .form form .topForm input {
  border: none;
  border-bottom: 2px solid #FDD908;
  background-color: #EAFEFC;
  width: calc(100%/2 - 20px);
  padding: 0 20px 18px 20px;
  margin-bottom: 40px;
  color: #031f22;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.blog .form form .topForm input::-webkit-input-placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .form form .topForm input:-ms-input-placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .form form .topForm input::-ms-input-placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .form form .topForm input::placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .sectionTwo .form form .topForm .margin {
  margin-right: 35px;
}

.blog .sectionTwo .form form .bottomForm textarea {
  border: 2px solid #FDD908;
  background-color: #EAFEFC;
  width: 100%;
  height: 200px;
}

.blog .sectionTwo .form input {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.blog .sectionTwo .form .bottomForm textarea {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
  padding: 20px;
}

.blog .form form .bottomForm textarea::-webkit-input-placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .form form .bottomForm textarea:-ms-input-placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .form form .bottomForm textarea::-ms-input-placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .form form .bottomForm textarea::placeholder {
  color: #031f22;
  opacity: 1;
}

.blog .sectionTwo .form .submit button {
  padding: 10px 20px;
  background: #0D457F;
  color: #FDD908;
  font-size: 2rem;
  border: none;
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  margin: 40px 0;
  width: 100%;
}

/*****************/
/* Contact Styles */
/*****************/
.contact header {
  background-image: url("../assets/contact-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 60vh;
}

.contact .headerNav {
  margin-bottom: 12rem;
  padding-top: 6rem;
}

.contact .headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact .headerNav a {
  padding: 10px 40px 10px 0;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.contact .bottomHeaderContainer h1 {
  width: 100%;
}

/*****************/
/* Contact Styles */
/*****************/
/* Section One Styles */
/*****************/
.contact main {
  background-color: #EAFEFC;
}

.contact main .sectionOne {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.contact .sectionOneFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact .sectionOneFlexContainer .leftContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 24%;
  margin-top: 150px;
}

.contact .sectionOneFlexContainer .leftContainer div i {
  font-size: 3rem;
  color: #0D457F;
  padding: 0 25px 25px 0;
}

.contact .sectionOneFlexContainer .leftContainer > p {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.contact .sectionOneFlexContainer .leftContainer .email {
  margin-bottom: 30px;
}

.contact .sectionOneFlexContainer .leftContainer .address {
  margin-bottom: 200px;
}

/* Form Styles */
/*****************/
.contact .form {
  width: 76%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 400px;
}

.contact .form form {
  background-color: #0D457F;
  padding: 100px 50px 50px 50px;
  -webkit-box-shadow: 15px 15px #FDD908;
          box-shadow: 15px 15px #FDD908;
  position: relative;
  top: -170px;
  right: -250px;
}

.contact .form form .topForm input {
  border: none;
  border-bottom: 2px solid #FDD908;
  background-color: #0D457F;
  width: calc(100%/2 - 20px);
  padding: 0 20px 18px 20px;
  margin-bottom: 40px;
  color: #ffffff;
}

.contact .form form .topForm .margin {
  margin-right: 35px;
}

.contact .form form .topForm input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .topForm input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .topForm input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .topForm input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .bottomForm textarea {
  border: 2px solid #FDD908;
  background-color: #0D457F;
  color: #ffffff;
  width: 100%;
  height: 300px;
}

.contact .form form .bottomForm textarea::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .bottomForm textarea:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .bottomForm textarea::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form form .bottomForm textarea::placeholder {
  color: #ffffff;
  opacity: 1;
}

.contact .form input {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
  font-weight: 400;
}

.contact .form .bottomForm textarea {
  color: #031f22;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
  padding: 20px;
  font-weight: 400;
}

.contact .form form button {
  padding: 10px 20px;
  background: #FDD908;
  color: #0D457F;
  font-size: 2rem;
  border: none;
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  margin: 40px 0;
  width: 100%;
}

/*****************/
/* Global Styles */
/*****************/
footer {
  text-align: center;
  background-color: #FDD908;
}

footer p {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

footer p a {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

/*****************/
/* Home Page Styles */
/*****************/
.homePage footer {
  text-align: center;
  background-color: #FDD908;
}

.homePage footer p {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.homePage footer p a {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

/*****************/
/* Blog Styles */
/*****************/
.blog footer {
  text-align: center;
  background-color: #FDD908;
}

.blog footer p {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.blog footer p a {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

/*****************/
/* Contact Styles */
/*****************/
.contact footer {
  text-align: center;
  background-color: #FDD908;
}

.contact footer p {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}

.contact footer p a {
  color: #0D457F;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.1px;
}
